aniso8601
attrs
blis
catalogue
certifi
charset-normalizer
click
colorama
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
Flask
flask_restx
Flask-SQLAlchemy
greenlet
idna
importlib-resources
itsdangerous
Jinja2
jsonschema
MarkupSafe
murmurhash
numpy
packaging
pathy
preshed
pydantic
pyparsing
pyrsistent
pytz
requests
six
smart-open
spacy
spacy-legacy
SQLAlchemy
srsly
thinc
tqdm
typer
typing-extensions
urllib3
wasabi
Werkzeug
zipp
